stages:
  - build
  - stop
  - deploy

build_image:
  stage: build
  only:
    - master
  script:
    - cd ./web
    - gradle build
    - cd ../
    - docker build -t aulang/office .

stop_service:
  stage: stop
  only:
    - master
  allow_failure: true
  script:
    - docker stop office
    - docker rm office


delete_none_image:
  stage: deploy
  only:
    - master
  allow_failure: true
  script:
    - docker rmi $(docker images | grep "none" | awk '{print $3}')

deploy-frontend:
  stage: deploy
  only:
    - master
  script:
    - rm -rf /usr/share/nginx/office/
    - cp -rf ./UI/ /usr/share/nginx/office

deploy_service:
  stage: deploy
  only:
    - master
  script:
    - rm -rf /var/log/office/*
    - docker run -d -v /var/log/office:/var/log/office -e MINIO_ENDPOINT=$MINIO_ENDPOINT -e MINIO_ACCESSKEY=$MINIO_ACCESSKEY -e MINIO_SECRETKEY=$MINIO_SECRETKEY -e ONLYOFFICE_SECRET=$ONLYOFFICE_SECRET --name=office --net=host --restart=always aulang/office