server:
  port: 8082
  http2:
    enabled: true
  error:
    whitelabel:
      enabled: false

spring:
  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017/office

minio:
  endpoint: ${MINIO_ENDPOINT:https://play.min.io}
  accessKey: ${MINIO_ACCESSKEY:Q3AM3UQ867SPQQA43P2F}
  secretKey: ${MINIO_SECRETKEY:zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG}

onlyoffice:
  secret: ${ONLYOFFICE_SECRET:xxxxxxxxxxxxxxxxxxxxx}

oauth:
  clientId: ${OAUTH_CLIENTID:xxxxxx}
  clientSecret: ${OAUTH_SECRET:xxxxxxxx}
  tokenUrl: https://aulang.cn/oauth/token
  profileUrl: https://aulang.cn/oauth/api/profile
  authedUrls:
    - /doc/*
    - /office/token